<div class="container main-page">
  <div class="row">
     <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

      <div class="well">
        <p class="lead"> Welcome <%= @user.name %>  Just do it. </p>
      </div>

      <hr>

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">My Tasks</h3>
          
          <!-- Button HTML (to Trigger Modal) -->
          <div class="pull-right">
            <a href="#newTaskModal" class="btn btn-default btn-xs btn-filter" data-toggle="modal"><span class="glyphicon glyphicon-filter"></span> New Task2</a>
          </div>
          <div class="pull-right">
            <%= link_to 'New task 3', '#newTaskModal', 'data-toggle'=> 'modal', class:'btn btn-default btn-xs' %>
          </div>
          <div class="pull-right">
            <%= link_to 'New task', new_user_item_path(@user.id), class:'btn btn-default btn-xs' %>
          </div>


        </div><!-- end of panel-heading -->
      </div><!-- end of panel-primary -->
      <div class="table-responsive">
        <table id="Task-table" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Task Name</th>
              <th>Description</th>
              <th>Date</th>
              <th>  </th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <%= render partial: 'items/task_table_row', locals: { item: item } %>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <br>


     </div><!-- end col-md-offset -->
  </div><!-- end of row -->
</div><!-- end of container -->

<!-- Modal HTML -->
<div id="newTaskModal" class="modal fade">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
       <h4 class="modal-title">Confirmation</h4>
     </div><!-- end of modal-header -->
     <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <%# Render the new item form (passing modal => true to enable remote => true) %>
            <%= render 'items/form', modal: true %>
          </div>
        </div>
      </div>
       
     </div><!-- end of modal-body -->

     <div class="modal-footer">
      
       <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
    
     </div> 
     <!-- end of modal-footer -->

   </div><!-- end of modal-content -->
 </div><!-- end modal-dialog -->
</div><!-- end of #newTaskModal -->