<div class="container main-page">
  <div class="row">
     <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

      <div class="well">
        <p class="lead"> Welcome <%= @user.name %>  Just do it. </p>
      </div>

      <hr>

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">My Tasks</h3>
          
          <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
          </div>
          <div class="pull-right">
            <%= link_to 'New task', new_user_item_path(@user.id), class:'btn btn-default btn-xs' %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="Task-table" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Task Name</th>
              <th>Description</th>
              <th>Date</th>
              <th>  </th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr id=<%= "task-#{item.id}" %>>
                <td><%= item.name %></td>
                <td><%= item.description %></td>
                <td><%= item.created_at %></td>
                <td><%= link_to("", item , method: :delete, remote: true, class: 'glyphicon glyphicon-ok', id: "#{item.id}-complete") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <br>


     </div><!-- end col-md-offset -->
  </div><!-- end of row -->
</div><!-- end of container -->